# Enable line numbering
set linenumbers

# Enable line wrapping
set softwrap
set atblanks

# Enable auto indenting (makes writing code easier)
set autoindent
set smarthome

# Enable 80-character guide stripe
set guidestripe 81

# Enable scroll bar indicator
set indicator

# Enable state flags in top right
set stateflags

# Enable deleting selected text
set zap

# Disable file conversion (can get pesky)
set noconvert

# Set tab size
set tabsize 4

# Set colors
set keycolor orange
set scrollercolor latte
set selectedcolor white,blue

# Enable standard syntax highlighting
include "/usr/local/share/nano/*.nanorc"

# Enable non-standard syntax highlighting
include "$HOME/.shDotFileSupport/nano/syntax/asciidoc.nanorc"
include "$HOME/.shDotFileSupport/nano/syntax/R.nanorc"
include "$HOME/.shDotFileSupport/nano/syntax/swift.nanorc"
include "$HOME/.shDotFileSupport/nano/syntax/yaml.nanorc"

# Add formatters
extendsyntax css formatter "prettier_css.sh"
extendsyntax html formatter "prettier_html.sh"
extendsyntax javascript formatter "prettier_javascript.sh"
extendsyntax json formatter "prettier_json.sh"
extendsyntax markdown formatter "prettier_markdown.sh"
extendsyntax python formatter "autopep8 --in-place"
extendsyntax Swift formatter "swiftlint --fix --quiet"
extendsyntax YAML formatter "prettier_yaml.sh"

# Add linters
extendsyntax python linter "pylint_python.sh"
extendsyntax R linter "lintr_r.R"
extendsyntax sql linter "sqlfluff_sql.sh"
extendsyntax Swift linter "swiftlint"
