# Enable line numbering
set linenumbers

# Enable line wrapping
set softwrap
set atblanks

# Enable auto indenting (makes writing code easier)
set autoindent
set smarthome

# Enable 80-character guide stripe
set guidestripe 81

# Enable scroll bar indicator
set indicator

# Enable state flags in top right
set stateflags

# Enable deleting selected text
set zap

# Disable file conversion (can get pesky)
set noconvert

# Set tab size
set tabsize 4

# Set colors
set keycolor orange
set scrollercolor latte
set selectedcolor white,blue

# Enable R syntax highlighting
include "~/.shDotFileSupport/nano/syntax/R.nanorc"

# Enable Swift syntax highlighting
include "~/.shDotFileSupport/nano/syntax/swift.nanorc"

# Enable AsciiDoc syntax highlighting
include "~/.shDotFileSupport/nano/syntax/asciidoc.nanorc"

# Enable standard syntax highlighting
include "/usr/local/share/nano/*.nanorc"

# Add formatters
extendsyntax css formatter "prettier_css.sh"
extendsyntax html formatter "prettier_html.sh"
extendsyntax javascript formatter "prettier_javascript.sh"
extendsyntax json formatter "prettier_json.sh"
extendsyntax markdown formatter "prettier_markdown.sh"
#extendsyntax python formatter "autopep8"
extendsyntax python formatter "autopep8 --in-place"
#extendsyntax python formatter "autopep8_python.sh"

# Add linters
extendsyntax R linter "lintr_r.R"
extendsyntax sql linter "sqlfluff_sql.sh"

# Bind keys
bind M-+ "[B[A" main
bind M-_ "[A[A" main
